/*TODO keep on decorating*/

/*layout*/
.content {
  width: 950px;
  height: 950px;
  font-family: 'Press Start 2P', cursive;
  margin-left:auto;
  margin-right:auto;
}

/*grid*/
.line, .row {width:100%;}
.unit {display: inline-block;}
/* CIWK: units without floating? Is that OK?; */

.size1of1 {width:100%;}
.size1of9 {
  width:10%;
  height: 10%;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
}

.cell:nth-child(3n){
  border-right: 2px solid red;
}

.row:nth-child(3n){
  border-bottom: 2px solid red;
}

.cell:nth-child(3n){
  border-right: 2px solid red;
}

.row:nth-child(3n){
  border-bottom: 2px solid red;
}

/*oo styles*/
.bordered {
  border: 1px solid grey;
}

.centered-content {
  text-align: center;
}

